page-offer {
  .fields{
    font-size: 14px;
  }
  //.fields > ion-label{
  //
  //}
  .caption_h2{
    font-size: 15px;
  }
  em{
    display: block;
    padding-left: 18px;
    padding-top: 7px;
  }
  .full_offer{
    margin-top: 20px;
    margin-bottom: 2px;
  }
}
